@tailwind base;
@tailwind components;
@tailwind utilities;

#exportContent {
    -webkit-print-color-adjust:exact !important;
    opacity: 0;
}

#logoCBM {
    height: 125px;
    width: 125px;
}

.exemplo {
    display: inline-block;
}

img {
    height: 100px;
    width: 100px;
}

#formulario {
    font-family: 'Montserrat', sans-serif;
}

#integrada {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 800;
}