@tailwind base;
@tailwind components;
@tailwind utilities;

#exportContent {
    -webkit-print-color-adjust:exact !important;
    opacity: 1;
}

#logoCBM {
    height: 125px;
    width: 125px;
}

.exemplo {
    display: inline-block;
}

img {
    height: 100px;
    width: 100px;
}